---
interface Props {
  title: string;
  noIndex?: boolean;
}

const { title, noIndex } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <meta charset="UTF-8" />
    <meta name="description" content="Beautiful cottage retreat in the North Pennines" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="A centuries old retreat in the North Pennines Area of Outstanding Natural Beauty" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://billyhar.github.io/old-cottage" /> <!-- Replace with your actual domain -->
    <meta property="og:image" content="OG.jpg" /> <!-- Replace with your actual domain and preferred image -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="description" content="Experience a peaceful retreat in our historic cottage in Lambley, Northumberland. Features include woodburning stove, dog-friendly accommodation, and stunning views of the North Pennines AONB." />
<meta name="keywords" content="holiday cottage, Northumberland, Lambley, dog friendly, North Pennines, AONB, woodburning stove" />
  <script defer src="https://cloud.umami.is/script.js" data-website-id="c9fe19b9-3853-4e06-9d27-91c95961eca9"></script>

    
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="A centuries old retreat in the North Pennines Area of Outstanding Natural Beauty" />
    <meta name="twitter:image" content="OG.jpg" /> <!-- Replace with your actual domain and preferred image -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <script>
      document.addEventListener('scroll', () => {
        const nav = document.querySelector('nav');
        if (window.scrollY > 0) {
          nav.classList.add('bg-slate-900');
          nav.classList.remove('bg-transparent');
        } else {
          nav.classList.add('bg-transparent');
          nav.classList.remove('bg-slate-900');
        }
      });
    </script>
  </head>
  <body>
    <nav class="fixed w-full z-50 bg-transparent transition-colors duration-300">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-24">
          <div class="flex-shrink-0">
            <a href="/" class="text-gray-200 font-serif text-xl">The Old Cottage</a>
          </div>
          <div class="flex items-center text-slate-300 backdrop-blur-md hover:bg-slate-800 rounded-lg">
            <a 
              href="/#contact" 
              class="text-white text-slate-300 hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium transition-colors"
            >
              Contact us to book
            </a>
          </div>
        </div>
      </div>
    </nav>
    <slot />
  </body>
</html>